
.post-animal-container {
    background: #faf8d7; 
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.form-container {
    background: #ffffff; 
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 30px;
    max-width: 600px;
    width: 100%;
}

h2 {
    color: #77628c; 
    text-align: center;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: #71a0a5; 
}

input, textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #acc6aa; 
    border-radius: 8px;
    box-sizing: border-box;
}



input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

button {
    background: #71a0a5;
    border: none;
    color: #ffffff;
    padding: 10px 20px;
    border-radius: 50px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
    width: 100%;
}

button:hover {
    background-color: #77628c; 
}

.message {
    color: #71a0a5; 
    text-align: center;
    margin-top: 15px;
}
